*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav{
    padding-left: 2rem;
}
.nav-link{
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 28px;
}
.land{
    margin-top: 15px;
    margin-bottom: 120px;
}
.cate{
    padding-left: 100px;
    padding-right: 40px;
    border-radius: 25px;
    margin-right: 2rem;
}
.btn-sign{
    background: white;
    color: #002147 !important;
    font-weight: 500;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav{
    background: #002147;
    height: 10vh;
}
.fleet{
    position: absolute;
    color: black;
    bottom: 27px;
    left: 265px;
}
.section1{
    width: 100%;
    height: 70vh; 
    background-size: cover;
    background: url('img/angle.png');
}
.vector{
   padding-top: 15%;
   padding-left: 50%;
}
.section2{
    background: #F0F4F9;
    position: relative;
}
.btn-get{
    background: #00BCF5;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    margin-top: 40px;
}
.come{
    padding-top: 100px;
}
.master{
    font-size: 35px;
    font-weight: 600;
    color: #002147;
    font-family: 'Times New Roman', Times, serif;
}
.mid{
    padding-top: 130px;
}
.dev{
    margin-left: 40px !important;
    color: black;
}
.much{
    padding-bottom: 40px;
}
.dev:hover{
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
}
.top{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.border{
    border: 1px solid rgba(0, 0, 0, 0.322) !important;
}
.intro{
    font-size: 11px;
}
.intros{
    font-size: 12px;
}
.star{
    font-size: 12px;
    padding-left: 14px;
}
.naira{
    font-size: 12px !important;
    padding-left: 50px;
}
.user1{
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
}
.research{
    font-weight: bold;
    font-size: 20px;
    color: #2A4565;
}
.class{
    background: #F0F4F9;
    margin-top: 100px;
}
.choose{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: rgba(0, 33, 71, 0.9);
    font-family: 'Times New Roman', Times, serif;
}
.learn{
    color: rgba(0, 33, 71, 0.9);
    font-size: 20px;
}
.cardos{
    background-color: #002147;
    border-radius: 20px;
    margin-top: 100px;
    padding: 30px;
}
.built{
    font-family: 'Times New Roman', Times, serif;
}
.rect{
    position: absolute !important;
    left: 700px !important;
    top: 3670px !important;
}
.my{
    margin-top: 170px;
    padding: 10px;
}
.torm{
    position: absolute !important;
    bottom: 36px !important;
    right: 18px !important;
    width: 35%;
}
.torms{
    position: absolute;
    bottom: 66px;
    right: 18px;
}
.dami{
    position: absolute;
    top: 0px;
    left: -50px;
    margin-left: 100px;
    width: 100%;
}
.chef{
    margin-top: 100px;
}
.btn-browse{
    background-color: #fff;
    border: 2px solid #00BCF5;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.cardo{
    background-color: #002147;
}
.draw{
    padding-left: 150px;
    width: 650px;
    height: 350px
}
.num{
    border-bottom: 5px solid #00BCF5;
    padding-top: 25px;
}
.title{
    position: absolute !important;
    height: 33vh !important;
    width: 550px !important;
    right: 330px !important;
    top: 5350px !important;
    padding: 25px;
}
.naira{
    margin-top: 15px;
    font-size: 25px;
}
.potent{
    font-size: 10px;
}
.pic{
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),url('img/Rectangle 18.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 200px;
    height: 70vh;
}
.learner{
    padding-top: 90px;
    padding-bottom: 50px;
}
.monday{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #00BCF5;
}
.section4{
    background: hsl(210, 97%, 14%);
    padding-top: 30px;
    padding-bottom: 30px;
}
.bloc{
    position: absolute;
    width: 90%;
    height: 100px;
    left: 130px;
    bottom: 0px;
    background: #00BCF5;
}
.head {
    margin-top: 40px;
    padding-right: 100px;
    
}
.head a {
    color: black;
    padding-left: 10px;
    display: inline-block;
    transition: 0.3s;
    font-size: 16px;
}
.circle{
    width: 200%;
}
.tool{
    width: 120%;
}
.africa{
    width: 400px; 
    height: 500px;
}
.path{
    width: 90%;
}
.comp{
    margin-top: 50px;
    margin-bottom: 60px;
}
.lean{
    font-size: small !important;
}
.new{
    font-size: 15px;
}
.instruct{
    color: white;
    padding-left: 30px;
    padding-top: 30px;
}

@media(max-width: 1024px){
    .pic{
        height: 40vh !important;
    }
    .title{
        position: absolute !important;
        height: 15vh !important;
        width: 550px !important;
        right: 200px !important;
        top: 5840px !important;
    }
    .draw{
        width: 545px !important;
        height: 350px !important;
        padding-left: 60px;
    }
    .path{
        width: 90% !important;
    }
    .dami{
        width: 90% !important;
    }
    .tool{
        width: 200% !important;
    }
    .torm{
        bottom: 80px !important;
        right: -1px !important;
        width: 50% !important;
    }
    .torms{
        bottom: 85px !important;
        right: -4px !important;
        width: 60% !important
    }
    .rect{
        position: absolute !important;
        left: 570px !important;
        top: 4550px !important;
    }
    .circle{
        width: 0% !important;
    }
    .africa{
        width: 400px !important; 
        height: 900px !important;
    }
    .top{
        text-align: center !important;
        font-size: 25px !important;
        margin-top: -80px !important;
    }
    .lean{
        font-size: 20px !important;
    }
    .dev{
        margin-left: 30px !important;
        color: black !important;
    }
    .fleet{
        left: 250px !important;
        bottom: 50px;
    }
    .section1{
        height: 50vh !important; 
        background: url('img/angle.png')center !important;
        background-size: cover!important;
    }
    .vector{
       padding-top: 40% !important;
       padding-left: 45% !important;
    }
    .top{
        font-size: 30px !important;
        padding-top: 80px !important;
    }
    .rect{
        position: absolute !important;
        left: 630px !important;
        top: 4270px !important;
    }
    .corp{
        padding-left: 13px !important;
    }
    .nav-link{
        margin-right: 0px;
    }
    .cate{
        padding-left: 40px;
        padding-right: 20px;
        margin-right: 10px;
    }
    .fleet{
        left: 235px !important;
        bottom: 36px;
    }
    nav{
        height: 6vh;
    }
}


@media(max-width: 576px){
    .navbar-nav{
        background: #002147;
        padding-bottom: 20px;
    }
    .corp{
        padding-left: 0px !important;
    }
    .section1{
        height: 50vh !important; 
        background: url('img/angle.png')center !important;
        background-size: cover!important;
    }
    .vector{
       padding-top: 40% !important;
       padding-left: 45% !important;
    }
    .vector img{
        width: 30% !important;
    }
    .come{
        padding-top: 0.2rem !important;
        text-align: center !important;
    }
    .master{
        text-align: center !important;
    }
    .top{
        font-size: 25px;
    }
    .dev{
        margin-left: 20px !important;
        color: black !important;
    }
    .star{
        font-size: 15px !important;
        padding-left: 30px !important;
    }
    .naira{
        font-size: 15px !important;
        padding-left: 150px !important;
    }
    .intro{
        font-size: 15px !important;
    }
    .intros{
        font-size: 13px !important;
    }
    .choose{
        font-size: 27px;
    }
    .africa{
        width: 300px !important; 
        height: 400px !important;
        align-items: center;
        padding-top: 0px !important;
    } 
    .class{
        margin-top: 25px;
    }
    .circle{
        width: 0% !important;
    }
    .learn{
        color: rgba(0, 33, 71, 0.9);
        font-size: 20px;
        justify-content: center;
    }
    .lean{
        font-size: small !important;
    }
    .cardos{
        margin-top: 0px;
    }
    .built{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
    .tool{
        width: 17% !important;
        margin-left: 130px !important;
        margin-top: 20px !important;
    }
    .my{
        margin-top: 50px;
        padding-bottom: 10px;
    }
    .torm{
        bottom:9px !important;
        right: 165px !important;
        width: 7% !important;
    }
    .torms{
        bottom: 15px !important;
        right: 165px !important;
        width: 8% !important;
    }
    .chef{
        margin-top: 30px;
    }
    .dami{
        width: 325px !important;
        margin-top: 20px !important;
        padding-right: 100px !important;
    }
    .path{
        width: 310px !important;
        padding-right: 100px !important;
        margin-top: 20px !important;
    }
    .new{
        font-size: small !important;
    }
    .lorem{
        text-align: center;
    }
    .draw{
        width: 350px !important;
        height: 200px !important;
        padding-left: 0px;
    }
    .title{
        width: 350px !important;
        right: 10px !important;
        top: 11040px !important;
        height: 37vh !important;
    }
    .earn{
        width: 100%;
        padding-right: 60px;
    }
    .much{
        padding-bottom: 0px;
    }
    .pic{
        height: 50vh !important;
        margin-top: 310px !important;
        padding-bottom: 100px !important;
    }
    .land{
        width: 40%;
        padding-left: 50px;
    }
    .section4{
        padding-top: 30px;
    }
    .comp{
        margin-top: 30px;
        margin-bottom: 10px;
    }
}  

@media(max-width: 768px){
    .pic{
        height: 40vh !important;
    }
    .title{
        position: absolute !important;
        height: 20vh !important;
        width: 550px !important;
        right: 100px !important;
        top: 6100px !important;
    }
    .draw{
        width: 420px !important;
        height: 500px !important;
    }
    .path{
        width: 80% !important;
    }
    .dami{
        width: 80% !important;
    }
    .tool{
        width: 20% !important;
    }
    .torm{
        bottom:139px !important;
        right: -1px !important;
        width: 10% !important;
    }
    .torms{
        bottom: 117px !important;
        right: -4px !important;
        width: 10% !important;
    }
    .rect{
        position: absolute !important;
        left: 470px !important;
        top: 4280px !important;
    }
    .africa{
        width: 250px !important; 
        height: 1000px !important;
        padding-top: 350px !important;
    }
    .top{
        text-align: center !important;
        font-size: 25px !important;
        margin-top: -80px;
    }
    .lean{
        font-size: 20px !important;
    }
    .dev{
        margin-left: 30px !important;
        color: black !important;
    }
    .nav-link{
        margin-right: 0px !important;
    }
    .section1{
        height: 50vh !important; 
        background: url('img/angle.png')center !important;
        background-size: cover!important;
    }
    .vector{
       padding-top: 30% !important;
       padding-left: 45% !important;
    }
    .corp{
        padding-left: 13px !important;
    }
    .copy{
        margin-top: 160px;
    }
}

@media(max-width: 670px){
    .research{
        font-size: 15px;
    }
    .intro{
        font-size: x-small !important;
        margin-bottom: 5px !important;
    }
    .intros{
        font-size: x-small !important;
        margin-bottom: 5px !important;
    }
    .star{
        font-size: x-small !important;
        padding-left:25px !important;
    }
    .naira{
        font-size: x-small !important;
        padding-left: 15px !important;
    }
    .none{
        padding: 0px !important;
    }
    .border{
        border: none !important;
        padding: 0px !important;
    }
    .come{
        text-align: left !important;
    }
    .btn-get{
        border-radius: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 10px;
        margin-top: 20px;
        color: black;
    }
    .find{
        width: 120%;
    }
    .master{
        font-size: 15px;
        text-align: left !important;
    }
    .angle{
        width: 50px;
        height: 200px;
    }
    .mid{
        padding-top: 30px !important;
        width: 60px;
        height: 210px;
        padding-right: 10px;
    }
    .title{
        width: 350px !important;
        right: 10px !important;
        top: 6250px !important;
        height: 37vh !important;
    }
    .pic{
        height: 470px !important;
    }
    .copy{
        margin-top: 30px;
    }
    nav{
        height: 55px;
    }
    .navbar-nav{
        padding: 20px;
    }
    .africa{
        padding-top: 0px !important;
        width: 310px !important;
        height: 400px !important;
    }
    .draw{
        height: 300px !important;
        padding-left: 0px;
        width: 100% !important;
    }
    .button{
        margin-left: 140px;
    }
    .fleet{
        top: 119px;
        left: 55px !important;
    }
}

/* @media(max-width: 720px){
    .navbar-nav{
        background: #002147;
        padding: 20px;
    }
    .intro{
        font-size: 20px !important;
    }
    .intros{
        font-size: 20px !important;
    }
    .star{
        font-size: 20px !important;
        padding-left: 50px;
    }
    .naira{
        font-size: 20px !important;
    }
    .angle{
        width: 60px;
        height: 250px;
    }
    .mid{
        padding-top: 30px !important;
        width: 70px;
        height: 270px;
        padding-right: 10px;
    }
    .border{
        border: none !important;
        padding: 0px !important;
    }
    .find{
        width: 150%;
    }
    .come{
        padding-top: 30px;
        margin-right: 90px;
    }
    .master{
        font-size: 25px;
        text-align: left !important;
    }
    .pic{
        height: 30vh !important;
        margin-top: 200px;
    }
    .title{
        position: absolute !important;
        height: 20vh !important;
        width: 550px !important;
        right: 90px !important;
        top: 8200px !important;
    }
    .land{
        width: 30%;
    }
    .draw{
        width: 515px !important;
        height: 300px !important;
        padding-left: 0px;
    }
    .path{
        width: 80% !important;
    }
    .dami{
        width: 80% !important;
    }
    .tool{
        width: 20% !important;
    }
    .torm{
        bottom:139px !important;
        right: -1px !important;
        width: 10% !important;
    }
    .torms{
        bottom: 117px !important;
        right: -4px !important;
        width: 10% !important;
    }
    .rect{
        position: absolute !important;
        left: 470px !important;
        top: 4280px !important;
    }
    .africa{
        width: 500px !important; 
        height: 500px !important;
        padding-top: 20px !important;
    }
    .top{
        text-align: center !important;
        font-size: 25px !important;
        margin-top: -80px;
    }
    .lean{
        font-size: 20px !important;
    }
    .dev{
        margin-left: 30px !important;
        color: black !important;
    }
    .nav-link{
        margin-right: 0px !important;
    }
    .section1{
        height: 40vh !important; 
        background: url('img/angle.png')center !important;
        background-size: cover!important;
    }
    .vector{
       padding-top: 40% !important;
       padding-left: 45% !important;
    }
    .corp{
        padding-left: 13px !important;
    }
    .copy{
        margin-top: 160px;
    }
    .section4{
        padding-top: 30px;
        height:1300px;
    }
    .comp{
        margin-bottom: 10px !important; 
    }
    .button{
        margin-left: 140px;
        width: 20%;
    }
}   */