*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-nav{
    padding-left: 2rem !important;
}
.nav-link{
    color: white !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-right: 10px;
}
.land{
    margin-top: 15px;
    margin-bottom: 120px;
}
.cate{
    padding-left: 150px !important;
    padding-right: 150px !important;
    border-radius: 25px;
}
.btn-sign{
    background: white;
    color: #002147 !important;
    font-weight: 500;
    margin-top: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
nav{
    background: #002147;
    height: 10vh !important;
}
.fleet{
    position: absolute;
    color: black;
    bottom: 25px;
    left: 290px;
}
.section1{
    width: 100%;
    height: 100vh !important; 
    background-size: cover;
    background: url('img/angle.png');
}
.vector{
   padding-top: 15%;
   padding-left: 50%;
}
.section2{
    background: #F0F4F9;
    position: relative;
}
.btn-get{
    background: #00BCF5;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    margin-top: 40px;
}
.come{
    padding-top: 100px;
}
.master{
    font-size: 35px;
    font-weight: 600;
    color: #002147;
    font-family: 'Times New Roman', Times, serif;
}
.mid{
    padding-top: 130px;
}
.dev{
    margin-left: 40px !important;
    color: black;
}
.much{
    padding-bottom: 40px;
}
.dev:hover{
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
}
.top{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}
.border{
    border: none !important;
}
.intro{
    font-size: 11px;
}
.intros{
    font-size: 12px;
}
.star{
    font-size: 12px;
    padding-left: 14px;
}
.naira{
    font-size: 12px !important;
    padding-left: 50px;
}
.user1{
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
}
.research{
    font-weight: bold;
    font-size: 20px;
    color: #2A4565;
}
.class{
    background: #F0F4F9;
    margin-top: 100px;
}
.choose{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: rgba(0, 33, 71, 0.9);
    font-family: 'Times New Roman', Times, serif;
}
.learn{
    color: rgba(0, 33, 71, 0.9);
    font-size: 20px;
}
.cardos{
    background-color: #002147;
    border-radius: 20px;
    margin-top: 100px;
    padding: 30px;
}
.built{
    font-family: 'Times New Roman', Times, serif;
}
.rect{
    position: relative !important;
    left: 700px !important;
    top: -400px !important;
}
.my{
    margin-top: -400px !important;
    padding: 10px;
}
.torm{
    position: absolute !important;
    bottom: 36px !important;
    right: 18px !important;
    width: 35%;
}
.torms{
    position: absolute;
    bottom: 66px;
    right: 18px;
}
.dami{
    position: absolute;
    top: 0px;
    left: -50px;
    margin-left: 100px;
    width: 100%;
}
/* .chef{
    margin-top: 100px;
} */
.btn-browse{
    background-color: #fff;
    border: 2px solid #00BCF5;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.cardo{
    background-color: #002147;
}
.draw{
    padding-left: 150px;
    width: 650px;
    height: 350px
}
.num{
    border-bottom: 5px solid #00BCF5;
    padding-top: 25px;
}
.title{
    position: relative !important;
    height: 33vh !important;
    width: 50% !important;
    top: 0px !important;
    padding: 25px;
    padding-bottom: 200px;
}
.naira{
    margin-top: 15px;
    font-size: 25px;
}
.potent{
    font-size: 10px;
}
.pic{
    background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),url('img/Rectangle 18.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
}
.learner{
    padding-top: 90px;
    padding-bottom: 50px;
}
.monday{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #00BCF5;
}
.section4{
    background: hsl(210, 97%, 14%);
    padding-top: 30px;
    padding-bottom: 30px;
}
.head {
    margin-top: 40px;
    padding-right: 100px;
    
}
.head a {
    color: black;
    padding-left: 10px;
    display: inline-block;
    transition: 0.3s;
    font-size: 16px;
}
.circle{
    width: 200%;
}
.tool{
    width: 120%;
}
.africa{
    width: 400px; 
    height: 500px;
}
.path{
    width: 90% !important;
}
.comp{
    margin-top: 50px !important;
    margin-bottom: 60px !important;
}
.lean{
    font-size: small !important;
}
.new{
    font-size: 15px !important;
}
.instruct{
    color: white !important;
    padding-left: 30px !important;
    padding-top: 30px !important;
}

/* RESPONSIVENESS */
    @media (min-width: 576px) and  (max-width: 767px){
    .chef{
        margin-top: 0px;
    }
    .pace{
        font-size: 15px;
    }
    .my{
        margin-top: 10px !important;
        padding: 10px !important;
    }
    .master{
        font-size: 30px !important;
    }
    .find{
        width: 100% !important;
    }
    .come{
        padding-top: 50px !important;
    }
    .angle{
        width: 130% !important;
        height: 270px !important;
    }
    .mid{
        padding-top: 30px !important;
        width: 130% !important;
        height: 300px !important;
    }
    .fleet{
        display: none;
    }
    .button{
        margin-right: 90px !important;
        width: 20% !important;
        margin-bottom: 0px !important;
    }
    .navbar-nav{
        padding-left: 0px !important;
    }
    .cate{
        padding-left: 20px !important;
        padding-right: 40px !important;
        margin-right: 0px !important;
    }
    .pic{
        height: 40vh !important;
    }
    .title{
        position: relative !important;
        width: 100% !important;
        right: 0px !important;
        top: 20px !important;
        height: 45vh !important;
        margin-left: 0px !important;
    }
    .draw{
        width: 100% !important;
        height: 200px !important;
        padding-left: 0px;
    }
    .path{
        width: 80% !important;
    }
    .dami{
        width: 80% !important;
    }
    .tool{
        width: 17% !important;
        margin-left: 130px !important;
        margin-top: 20px !important;
    }
    .rect{
        position: relative !important;
        width: 100%;
        left: 0px !important;
        top: -0px !important;
    }
    .africa{
        width: 100% !important; 
        height: 400px !important;
        padding-top: 0px !important;
    }
    .top{
        text-align: center !important;
        font-size: 25px !important;
        margin-top: 0px;
    }
    .lean{
        font-size: 20px !important;
    }
    .dev{
        margin-left: 30px !important;
        color: black !important;
    }
    .nav-link{
        padding-right: 90px !important;
    }
    .section1{
        height: 70vh !important; 
        background: url('img/angle.png')center !important;
        background-size: cover!important;
    }
    .vector{
       padding-top: 15% !important;
       padding-left: 45% !important;
    }
    .corp{
        padding-left: 10px !important;
    }
    .copy{
        margin-top: 60px !important;
    }
    .research{
        font-size: 15px;
    }
    .pic{
        margin-top: 100px !important;
        height: 70vh !important;
    }
    .section4{
        padding-top: 30px;
    }
    .mage{
        margin-top: 20px !important;
    }
    .navbar-nav{
        background: #002147 !important;
        padding: 20px !important; 
    }
    .circle{
        width: 15% !important;
    }
    .land{
        width: 40% !important;
        padding-left: 50px !important;
    }
    nav{
        height: fit-content !important;
    }
}  

 @media (min-width: 0px) and (max-width: 576px) {
    .rect{
        position: relative !important;
        width: 100% !important;
        left: 30px !important;
        top: -25px !important;
        left: 0px !important;
    }
    nav{
        height: fit-content !important;
    }
    .mage{
        margin-top: 20px !important;
    }
    .find{
        width: 115% !important;
    }
    .button{
        margin-right: 70px !important;
        width: 20% !important;
        margin-bottom: 0px !important;
    }
    .navbar-nav{
        background: #002147 !important;
        padding-bottom: 20px !important;
    }
    .corp{
        padding-left: 0px !important;
    }
    .section1{
        width: 100% !important;
        height: 50vh !important; 
        background: url('img/angle.png')center !important;
        background-size: cover!important;
    }
    .vector{
       padding-top: 40% !important;
       padding-left: 45% !important;
    }
    .vector img{
        width: 30% !important;
    }
    .come{
        padding-top: 20px !important;
        text-align: left !important;
    }
    .master{
        font-size: 15px !important;
        text-align: left !important;
    }
    .top{
        font-size: 25px !important;
    }
    .dev{
        margin-left: 20px !important;
        color: black !important;
    }
    .star{
        font-size: x-small !important;
        padding-left:25px !important;
    }
    .naira{
        font-size: x-small !important;
        padding-left: 15px !important;
    }
    .intro{
        font-size: 15px !important;
    }
    .intros{
        font-size: 13px !important;
    }
    .choose{
        font-size: 27px !important;
    }
    .africa{
        width: 100% !important; 
        height: 400px !important;
        align-items: center;
        padding-top: 0px !important;
    } 
    .class{
        margin-top: 25px !important;
    }
    .circle{
        width: 0% !important;
    }
    .learn{
        color: rgba(0, 33, 71, 0.9) !important;
        font-size: 20px !important;
        justify-content: center !important;
    }
    .lean{
        font-size: small !important;
    }
    .cardos{
        margin-top: 0px !important;
    }
    .built{
        font-family: 'Times New Roman', Times, serif !important;
        text-align: center !important;
    }
    .tool{
        width: 0% !important;
    }
    .my{
        margin-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .chef{
        margin-top: 30px !important;
    }
    .dami{
        width: 85% !important;
        margin-top: 20px !important;
        padding-right: 30px !important;
    }
    .path{
        width: 85% !important;
        padding-right: 70px !important;
        margin-top: 20px !important;
    }
    .new{
        font-size: small !important;
    }
    .lorem{
        text-align: center !important;
    }
    .draw{
        width: 90% !important;
        height: 200px !important;
        padding-left: 25px !important;
    }
    .title{
        position: relative !important;
        width: 100% !important;
        top: 20px !important;
        height: 40vh !important;
    }
    .earn{
        width: 100% !important;
        padding-right: 60px !important;
    }
    .much{
        padding-bottom: 0px !important;
    }
    .pic{
        width: 100% !important;
        margin-top: 0px !important;
        height: 70vh !important;
    }
    .land{
        width: 40% !important;
        padding-left: 50px !important;
    }
    .section4{
        padding-top: 30px !important;
    }
    .angle{
        width: 200% !important;
        height: 200px !important;
    }
    .mid{
        padding-top: 30px !important;
        width: 200% !important;
        height: 210px !important;
    }
    .btn-get{
        border-radius: 5px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 10px !important;
        margin-top: 20px !important;
        color: black !important;
    }
    .fleet{
        display: none;
    }
    .navbar-nav{
        padding: 20px !important;
    }
    .research{
        font-size: 18.2px !important;
    } 
    .pace{
        font-size: 15px;
    }
} 

      @media(min-width: 768px) and (max-width: 991px){
        .africa{
            width: 100% !important;
        }
        .fleet{
            display: none;
        }
        .nav-link{
            margin-right: 0px !important;
            padding-right: 0px !important;
            font-size: 11px !important;
        }
        .button{
            margin-right: 0px !important;
            width: 7% !important;
            padding-bottom: 0px !important;
        }
        nav{
            background: #002147 !important; 
            height: fit-content !important;
        } 
        .angle{
            width: 100% !important;
            height: 300px !important;
        }
        .mid{
            padding-top: 30px !important;
            width: 100% !important;
            height: 300px !important;
        }
        .mage{
            margin-top: 0px !important;
        }
        .rect{
            position: relative !important;
            left: 450px !important;
            top: -300px !important;
        }
        .tool{
            width: 200% !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
        }
        .dami{
            width: 90% !important;
        }
        .chef{
            margin-top: 0px !important;
        }
        .draw{
            width: 123% !important;
            height: 400px !important;
            padding-left: 60px;
        }
        .built{
            font-size: 24px;
        }
        .instruct{
            text-align: center !important;
        }
        .title{
            position: relative !important;
            height: 30vh !important;
            width: 82% !important;
            right: -55px !important;
            top: -20px !important;
        }
        .land{
            margin-top: 15px;
            margin-bottom: 120px;
            width: 120% !important;
        }
        .btn-sign{
            background: white;
            color: #002147 !important;
            font-weight: 500;
            margin-top: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            margin-left: 10px !important;
        }
        .cate{
            padding-left: 20px !important;
            padding-right: 20px !important;
            margin-left: 5px !important;
        }
        .my{
            margin-top: -250px !important;
            padding: 10px;
        }
        .research{
            font-size: 18px !important;
        }
        .corp{
            padding-left: 10px !important;
        }
        .section1{
            height: 500px !important;
        }
    
} 

    @media(min-width: 992px) and (max-width: 1199px){
        .fleet{
            display: none;
        }
     .nav-link{
            padding-right: 7px !important;
            font-size: 15px !important;
        }
        .button{
            margin-right: 0px !important;
            width: 8% !important;
            padding-bottom: 0px !important;
        }
        nav{
            background: #002147 !important; 
            height: fit-content !important;
        } 
        .angle{
            width: 100% !important;
            height: 400px !important;
        }
        .mid{
            padding-top: 30px !important;
            width: 100% !important;
            height: 450px !important;
        }
        .mage{
            margin-top: 0px !important;
        }
        .rect{
            position: relative !important;
            left: 570px !important;
            top: -350px !important;
        }
        .tool{
            width: 150% !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
        }
        .dami{
            width: 90% !important;
        }
        .chef{
            margin-top: 0px !important;
        }
        .draw{
            width: 123% !important;
            height: 350px !important;
            padding-left: 60px;
        }
        .title{
            position: relative !important;
            height: 30vh !important;
            width: 60% !important;
            right: -170px !important;
            top: -30px !important;
        }
        .land{
            margin-top: 15px;
            margin-bottom: 120px;
            width: 120% !important;
        }
        .vector{
            padding-top: 25% !important;
            padding-left: 50%;
         }
         .section1{
            height: 100vh !important; 
            background: url('img/angle.png')center !important;
            background-size: cover!important;
        }
        .rect{
            position: relative !important;
            left: 650px !important;
            top: -370px !important;
        }
        .cate{
            padding-left: 10px !important;
            padding-right: 10px !important;
            margin-right: 0px !important;
        }
        .btn-sign{
            background: white;
            color: #002147 !important;
            font-weight: 500;
            margin-top: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .my{
            margin-top: -250px !important;
            padding: 10px;
        }
        .corp{
            padding-left: 5px !important;
        }
    } 
    
    @media(min-width: 1200px) and (max-width: 1399px){
        .fleet{
            display: none;
        }
        .nav-link{
            padding-right: 10px !important;
        }
        .button{
            margin-right: 0px !important;
            width: 8% !important;
            padding-bottom: 0px !important;
        }
        nav{
            background: #002147 !important; 
            height: 10vh !important;
        } 
        .angle{
            width: 110% !important;
            height: 500px !important;
        }
        .mid{
            padding-top: 35px !important;
            width: 110% !important;
            height: 550px !important;
        }
        .mage{
            margin-top: 0px !important;
        }
        .rect{
            position: relative !important;
            left: 570px !important;
            top: -350px !important;
        }
        .tool{
            width: 150% !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
        }
        .dami{
            width: 90% !important;
        }
        .copy{
            margin-top: -250px !important;
        }
        .chef{
            margin-top: -140px !important;
        }
        .draw{
            width: 123% !important;
            height: 350px !important;
            padding-left: 70px;
        }
        .title{
            position: relative !important;
            height: 30vh !important;
            width: 50% !important;
            right: -270px !important;
            top: -35px !important;
        }
        .land{
            margin-top: 15px;
            margin-bottom: 120px;
            width: 120% !important;
        }
        .vector{
            padding-top: 25% !important;
            padding-left: 50%;
         }
         .section1{
            height: 100vh !important; 
            background: url('img/angle.png')center !important;
            background-size: cover!important;
        }
        .rect{
            position: relative !important;
            left: 650px !important;
            top: -370px !important;
        }
        .cate{
            padding-left: 110px !important;
            padding-right: 90px !important;
            margin-right: 10px;
        }
        .btn-sign{
            background: white;
            color: #002147 !important;
            font-weight: 500;
            margin-top: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .my{
            margin-top: -400px !important;
            padding: 10px;
        }
       } 

       @media(min-width: 1400px){
           .copy{
            margin-top: -170px !important;
           }
        .fleet{
            display: none;
        }
        .nav-link{
            padding-right: 5px !important;
        }
        .button{
            margin-right: 0px !important;
            width: 8% !important;
            padding-bottom: 0px !important;
        }
        nav{
            background: #002147 !important; 
            height: fit-content !important;
        } 
        .angle{
            width: 100% !important;
            height: 450px !important;
        }
        .mid{
            padding-top: 30px !important;
            width: 100% !important;
            height: 500px !important;
        }
        .mage{
            margin-top: 0px !important;
        }
        .rect{
            position: relative !important;
            left: 570px !important;
            top: -350px !important;
        }
        .tool{
            width: 150% !important;
            margin-left: 0px !important;
            margin-top: 0px !important;
        }
        .dami{
            width: 90% !important;
        }
        .chef{
            margin-top: -50px !important;
        }
        .draw{
            width: 123% !important;
            height: 350px !important;
            padding-left: 60px;
        }
        .title{
            position: relative !important;
            width: 50% !important;
            right: -250px !important;
            top: -30px !important;
            height: 25px !important;
        }
        .land{
            margin-top: 15px;
            margin-bottom: 120px;
            width: 120% !important;
        }
        .vector{
            padding-top: 25% !important;
            padding-left: 50%;
         }
         .section1{
            height: 100vh !important; 
            background: url('img/angle.png')center !important;
            background-size: cover!important;
        }
        .rect{
            position: relative !important;
            left: 650px !important;
            top: -370px !important;
        }
        .cate{
            padding-left: 180px !important;
            padding-right: 150px !important;
            margin-right: 10px;
        }
        .btn-sign{
            background: white;
            color: #002147 !important;
            font-weight: 500;
            margin-top: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .my{
            margin-top: -350px !important;
            padding: 10px;
        }
    } 
   
